@{
  Layout = "_Layout";
}
@using VendorAndOrderTracker.Models;

<h3>Orders</h3>

@if (@Model["orders"].Count == 0)
{
  <h5>No orders have been added yet.</h5>
} 

<ul>
  @foreach (Order order in @Model["orders"])
  {
    <li>
      <p>@order.Title</p>
      <p>@order.Description</p>
      <p>Price: @order.Price</p>
      <p>Date: @order.Date</p></li>
  }
</ul>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a>
<br>
<a href='/'>Home</a>